$color_narandzasta: #f75311;
$color_bela: #ffff;
$color_siva: #374249;
$color_font: #797979;
$color_naslov: #374249;
$color_hover: #cfd1d3;
$color_pozadina_sekcija: #f3f7f9;
$color_opacity: rgba(54, 56, 54, 0.6);
$color_hover_stanovi: #cfd1d36b;
$color_border_form: #ccc;

$roboto_font: ('Roboto', sans-serif);
$kapsula_border: (1px solid $color_font);