$color_narandzasta: #f75311;
$color_bela: #ffff;
$color_siva: #374249;
$color_font: #797979;
$color_naslov: #374249;
$color_hover: #cfd1d3;
$color_pozadina_sekcija: #f3f7f9;

$roboto_font: ('Roboto', sans-serif);