@import 'vars';
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $color_siva;
  }
li {
    float: left;
    width: 7%;
    
    a {
        display: inline-block;
        color: $color_bela;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: $roboto_font;

        &:hover {
            text-decoration: underline;
          }
      }
    &:first-child {
        background-color: $color_narandzasta;
        text-decoration: underline;
        width: 20%;
    }

    img {
        width: 40px;
        padding: 1% 0% 1% 10%;
        float: left;
    }
}
.active {
    padding-left: 0%;
}

.sekcija_prva {
    background-image: url('../slike/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.dobrodosli {
    background-color: $color_opacity;
    display: inline-block;
    padding: 1% 10%;
    margin-top: 30%;
    margin-bottom: 10%;
    position: relative;
    left: 30%;
    
    h1, p{
        color: $color_bela;
        text-align: center;
        font-family: $roboto_font;
    }
}

.opis {
    width: 100%;
    background-color: $color_bela;
    height: 100px;
}
.kapsula {
    border: $kapsula_border;
    border-radius: 50px;
    display: inline-block;
    padding: 0.5% 1%;
    margin: 1.5%;
    
    &:first-child {
        margin-left: 60%;
    }
    p {
        font-family: $roboto_font;
        color: $color_font;
    }
    &:hover {
        color: $color_bela;
        background-color: $color_siva;
    }
}

.pozadina {
    background-color: $color_pozadina_sekcija;
}
.slike_stana {
    width: 70%;
    margin: auto;
}
.box {
    display: inline-block;
    width: 100%;
    margin: 4% 2%;
    img {
        margin: 1%;
    }
}